<a ui-sref='tab.index' ng-click="tabSelect(1,this)" ng-class="{'1':'weui_active'}[tabType]" class="temp11 weui_tabbar_item weui_active" href="#/discovery">
                    <p class="weui_tabbar_label">首页</p>
                </a>
    <a ui-sref='tab.index' ng-click="tabSelect(1,this)" ng-class="{'1':'weui_active'}[tabType]" class="temp11 weui_tabbar_item weui_active" href="#/discovery">
                    <p class="weui_tabbar_label">首页</p>
                </a><a ui-sref='tab.index' ng-click="tabSelect(1,this)" ng-class="{'1':'weui_active'}[tabType]" class="temp11 weui_tabbar_item weui_active" href="#/discovery">
                    <p class="weui_tabbar_label">首页</p>
                </a><a ui-sref='tab.index' ng-click="tabSelect(1,this)" ng-class="{'1':'weui_active'}[tabType]" class="temp11 weui_tabbar_item weui_active" href="#/discovery">
                    <p class="weui_tabbar_label">首页</p>
                </a><a ui-sref='tab.index' ng-click="tabSelect(1,this)" ng-class="{'1':'weui_active'}[tabType]" class="temp11 weui_tabbar_item weui_active" href="#/discovery">
                    <p class="weui_tabbar_label">首页</p>
                </a><a ui-sref='tab.index' ng-click="tabSelect(1,this)" ng-class="{'1':'weui_active'}[tabType]" class="temp11 weui_tabbar_item weui_active" href="#/discovery">
                    <p class="weui_tabbar_label">首页</p>
                </a>