<div class="order-container">
	<div class="tabList">
		<ul>
			<li ng-click="tabSelect(1,this)" ng-class="{'1':'active'}[tabType]"><span>全部订单</span></li>
			<li ng-click="tabSelect(2,this)" ng-class="{'2':'active'}[tabType]"><span>未付款</span></li>
			<li ng-click="tabSelect(3,this)" ng-class="{'3':'active'}[tabType]"><span>服务中</span></li>
			<li ng-click="tabSelect(4,this)" ng-class="{'4':'active'}[tabType]"><span>已生成</span></li>
		</ul>
	</div>
	<div class="dataList">
		<ul ng-click="tabSelect(1,this)" ng-class="{'1':'active'}[tabType]">
			<li>
				<div class="dataList-header">
					<span class="fl">2017-02-05</span>
					<span class="fr">已完成</span>
				</div>
				<div class="dataList-container">
					<div class="dataList_pic fl">
						<img src="assets/img/pic.jpg"/>
					</div>
					<div class="dataList_info fr">
						<div class="dataList_info_title">五彩缤纷套餐</div>
						<div class="dataList_info_detail">
							<p><span>订购日期：3个月</span><span>送达日期：周一</span></p>
							<span>价格：￥599</span>
						</div>
					</div>
				</div>
				<div class="dataList-footer">
					<span class="fr">合计：￥659.00（免运费）</span>
				</div>
			</li>
			<li>
				<div class="dataList-header">
					<span class="fl">2017-02-05</span>
					<span class="fr">已完成</span>
				</div>
				<div class="dataList-container">
					<div class="dataList_pic fl">
						<img src="assets/img/pic.jpg"/>
					</div>
					<div class="dataList_info fr">
						<div class="dataList_info_title">五彩缤纷套餐</div>
						<div class="dataList_info_detail">
							<p><span>订购日期：3个月</span><span>送达日期：周一</span></p>
							<span>价格：￥599</span>
						</div>
					</div>
				</div>
				<div class="dataList-footer">
					<span class="fr">合计：￥659.00（免运费）</span>
				</div>
			</li>
		</ul>
		<ul ng-click="tabSelect(2,this)" ng-class="{'2':'active'}[tabType]">
			<li>
				<div class="dataList-header">
					<span class="fl">2017-02-05</span>
					<span class="fr">已完成</span>
				</div>
				<div class="dataList-container">
					<div class="dataList_pic fl">
						<img src="assets/img/pic.jpg"/>
					</div>
					<div class="dataList_info fr">
						<div class="dataList_info_title">五彩缤纷套餐</div>
						<div class="dataList_info_detail">
							<p><span>订购日期：3个月</span><span>送达日期：周一</span></p>
							<span>价格：￥599</span>
						</div>
					</div>
				</div>
				<div class="dataList-footer">
					<span class="fr">合计：￥659.00（免运费）</span>
				</div>
			</li>
			<li>
				<div class="dataList-header">
					<span class="fl">2017-02-05</span>
					<span class="fr">已完成</span>
				</div>
				<div class="dataList-container">
					<div class="dataList_pic fl">
						<img src="assets/img/pic.jpg"/>
					</div>
					<div class="dataList_info fr">
						<div class="dataList_info_title">五彩缤纷套餐</div>
						<div class="dataList_info_detail">
							<p><span>订购日期：3个月</span><span>送达日期：周一</span></p>
							<span>价格：￥599</span>
						</div>
					</div>
				</div>
				<div class="dataList-footer">
					<span class="fr">合计：￥659.00（免运费）</span>
				</div>
			</li>
		</ul>
		<ul ng-click="tabSelect(3,this)" ng-class="{'3':'active'}[tabType]">
			<li>
				<div class="dataList-header">
					<span class="fl">2017-02-05</span>
					<span class="fr">已完成</span>
				</div>
				<div class="dataList-container">
					<div class="dataList_pic fl">
						<img src="assets/img/pic.jpg"/>
					</div>
					<div class="dataList_info fr">
						<div class="dataList_info_title">五彩缤纷套餐</div>
						<div class="dataList_info_detail">
							<p><span>订购日期：3个月</span><span>送达日期：周一</span></p>
							<span>价格：￥599</span>
						</div>
					</div>
				</div>
				<div class="dataList-footer">
					<span class="fr">合计：￥659.00（免运费）</span>
				</div>
			</li>
			<li>
				<div class="dataList-header">
					<span class="fl">2017-02-05</span>
					<span class="fr">已完成</span>
				</div>
				<div class="dataList-container">
					<div class="dataList_pic fl">
						<img src="assets/img/pic.jpg"/>
					</div>
					<div class="dataList_info fr">
						<div class="dataList_info_title">五彩缤纷套餐</div>
						<div class="dataList_info_detail">
							<p><span>订购日期：3个月</span><span>送达日期：周一</span></p>
							<span>价格：￥599</span>
						</div>
					</div>
				</div>
				<div class="dataList-footer">
					<span class="fr">合计：￥659.00（免运费）</span>
				</div>
			</li>
		</ul>
		<ul ng-click="tabSelect(4,this)" ng-class="{'4':'active'}[tabType]">
			<li>
				<div class="dataList-header">
					<span class="fl">2017-02-05</span>
					<span class="fr">已完成</span>
				</div>
				<div class="dataList-container">
					<div class="dataList_pic fl">
						<img src="assets/img/pic.jpg"/>
					</div>
					<div class="dataList_info fr">
						<div class="dataList_info_title">五彩缤纷套餐</div>
						<div class="dataList_info_detail">
							<p><span>订购日期：3个月</span><span>送达日期：周一</span></p>
							<span>价格：￥599</span>
						</div>
					</div>
				</div>
				<div class="dataList-footer">
					<span class="fr">合计：￥659.00（免运费）</span>
				</div>
			</li>
			<li>
				<div class="dataList-header">
					<span class="fl">2017-02-05</span>
					<span class="fr">已完成</span>
				</div>
				<div class="dataList-container">
					<div class="dataList_pic fl">
						<img src="assets/img/pic.jpg"/>
					</div>
					<div class="dataList_info fr">
						<div class="dataList_info_title">五彩缤纷套餐</div>
						<div class="dataList_info_detail">
							<p><span>订购日期：3个月</span><span>送达日期：周一</span></p>
							<span>价格：￥599</span>
						</div>
					</div>
				</div>
				<div class="dataList-footer">
					<span class="fr">合计：￥659.00（免运费）</span>
				</div>
			</li>
		</ul>
	</div>
</div>
<script type="text/javascript">
	app.controller('MainCtrl', ['$scope', '$state', function($scope, $state) {
		
	}]);
</script>